doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    script.
     function submitForm(){
          var form = document.forms[0];form.submit();
     }  
     
   
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
  body
    .wrapper
      .contentbody
        .lside
          .lsidewrap
            .logo
              img(src="/images/netfair logo icon.png")
            .coverimg
              img(src="/images/coverimg.png")
        block content
